<div class="container">
    <div class="row">
        {{#if error}}
         <span style="display:block; text-align: center; font-size: 30px; background: red;">{{error}}</span>
        {{/if}}
        <form action="/auth/login" method="POST" style="margin-top: 100px;">
            <div class="input-field col s6">
                <input placeholder="Phone" id="phone" type="text" class="validate" name="phone">
                <label for="phone">Phone</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Password" id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
            <button class="btn btn-primary">SignIn</button>
           <p>Don't have an account  <a href="/auth/register"> SingUp</a></p>
        </form>
    </div>
</div>